.section-project {
    background-color: whitesmoke;
    padding: 8vh 8vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-project h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10vh;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    gap: 5vw;
}

.section-project .card-project {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px grey;
}

.section-project .card-project a {
    display: flex;
    flex-direction: column;
}

.section-project .card-project img {
    border-radius: 15px;
    margin-bottom: 10px;
}

.section-project .card-project h2 {
    font-weight: bold;
    font-size: 20px;
}

.section-project .card-project h3 {
    font-weight: 400;
    font-size: 15px;
}

.section-project .card-project p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
}

.section-project .card-project .timer{
    font-style: italic;
    text-align: end;
    color: grey;
}

.card-icon {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-icon ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

.card-icon ul li a {
    font-size: 25px;
    color: black;
}

.card-icon ul li a:hover {
    color: orangered;
    cursor: pointer;
}

.card-button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-button button {
    width: 100%;
    font-size: 18px;
    border: none;
    padding: 6px 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.card-button button:hover {
    background-color: orangered;
}

@media screen and (max-width: 1000px) {
    .section-project h1 {
        margin-bottom: 6vh;
    }

    .grid-container {
        flex-direction: column;
        justify-content: center;
        gap: 8vw;
    }

    .section-project .card-project {
        width: 76vw;
    }
}